@model IEnumerable<TotalStaffingSolutions.Models.Timesheet>


<script src="~/assets/scripts/jquery.min.js"></script>
<div class="row small-spacing">
    <div class="col-xs-12">
        <div class="box-content">

            @*<a href="/Manage/AddClient" class="btn btn-success btn-sm">Add Client</a><br />*@

            <!-- /.box-title -->
            <!-- /.dropdown js__dropdown -->

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <input type="date" id="start_date" class="form-control" />
                </div>
                <div class="col-md-3">
                    <input type="date" id="end-date" class="form-control" />
                </div>
                <div class="col-md-3 right pull-right">
                    @Html.DropDownList("BranchsList", null, htmlAttributes: new { @class = "form-control", @onchange = "ResultsByBranches()" })
                </div>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="rememberme"></th>
                            <th>Company Name</th>
                            <th>Sheet#</th>
                            <th>Week Ending Date</th>
                            <th>Status</th>
                            <th>Total Employees</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        @try
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <th><input type="checkbox" id="rememberme"></th>
                                    <td><a href="/TSSManage/ClientDetails/@item.Customer_id">@item.Customer.Name</a></td>
                                    <td><a href="/TSSManage/TimeSheetDetails/@item.Id">#@item.Id</a></td>
                                    <td>@item.End_date</td>
                                    <td>
                                        @if (item.TimeSheetStatu.Id == 3)
                                        {
                                            <span class="notice notice-yellow">@item.TimeSheetStatu.Status</span>
                                        }
                                        else
                                        {
                                            <span class="notice notice-blue">@item.TimeSheetStatu.Status</span>
                                        }
                                    </td>
                                    <td>@item.Total_employees</td>
                                    <td>
                                        <a class="btn btn-xs btn-primary" href="/TSSManage/TimeSheetDetails/@item.Id"><span class="glyphicon glyphicon-eye-open"></span></a>
                                        <button class="btn btn-xs btn-primary" onclick="CopyTimesheet(@item.Id)"><span class="glyphicon glyphicon-duplicate"></span></button>
                                        <a class="btn btn-xs btn-primary" href="/TSSManage/EditTimeSheet/@item.Id"><span class="glyphicon glyphicon-edit"></span></a>
                                        @*<a class="btn btn-xs btn-primary" href="/TSSManage/ExportTimesheetInExcel/@item.Id"><span class="glyphicon glyphicon-download"></span></a>*@
                                        <button class="btn btn-xs btn-danger" onclick="DeleteTimesheetLink(@item.Id)"><span class="glyphicon glyphicon-remove"></span></button>
                                        <button class="btn btn-xs btn-success" onclick="SendTimesheetLink(@item.Id)">Link</button>
                                    </td>
                                </tr>



                            }
                        }
                        catch (Exception)
                        {

                            <h1></h1>
                        }


                    </tbody>
                </table>

            </div>
        </div>
        <!-- /.box-content -->
    </div>
    <!-- /.col-xs-12 -->
</div>
<!-- /.row small-spacing -->
<div id="wait" style="display:none;width:69px;height:89px;border:1px solid black;position:absolute;top:45%;left:45%;padding:2px;"><img src='~/assets/loading_gif.gif' width="64" height="64" /><br>Loading..</div>

<script>
    function SendTimesheetLink(id)
    {
        $.ajax({
            type: 'POST',
            data: JSON.stringify({ id: id }),
            url: '@Url.Action("SendTimeSheetLink", "TSSManage")',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                alert(data);
            },
            error: function (req, status, errorObj) {
                alert(errorObj.toString());
            }
        });
    }

    function DeleteTimesheetLink(id)
    {
        $.ajax({
            type: 'POST',
            data: JSON.stringify({ id: id }),
            url: '@Url.Action("DeleteTimeSheet", "TSSManage")',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var r = confirm(data);
                if (r == true) {
                    window.location.reload();
                }
                else
                {
                    window.location.reload();
                }
            },
            error: function (req, status, errorObj) {
                alert(errorObj.toString());
            }
        });
    }
    function CopyTimesheet(id)
    {
        $.ajax({
            type: 'POST',
            data: JSON.stringify({ id: id }),
            url: '@Url.Action("CopyTimeSheet", "TSSManage")',
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var r = confirm(data);
                if (r == true) {
                    window.location.reload();
                }
                else
                {
                    window.location.reload();
                }
            },
            error: function (req, status, errorObj) {
                alert(errorObj.toString());
            }
        });
    }

    function ResultsByBranches()
    {
        var dropdownValue = $("#BranchsList").val();
        window.location = "/TSSManage/TimeSheetsByBranch/"+dropdownValue;
    }

    $(document).ready(function () {
        $(document).ajaxStart(function () {
            $("#wait").css("display", "block");
        });
        $(document).ajaxComplete(function () {
            $("#wait").css("display", "none");
        });
        $("button").click(function () {
            $("#txt").load("demo_ajax_load.asp");
        });

        var selectedBranchId = @ViewBag.SelectedBranchId;
        document.getElementById('BranchsList').value = selectedBranchId;
    });
</script>